<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC with Thymeleaf</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap/bootstrap.js}"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Spring Boot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a
                        class="nav-link active"
                        aria-current="page"
                        th:href="@{/}">Home</a>
                <a class="nav-link" th:href="@{/gallery}">Gallery</a>
                <a class="nav-link" th:href="@{/posts}">Post</a>
            </div>
        </div>
    </div>
</nav>
<main class="container m-4">
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="card">
                <img th:src="${post.imgSrc}" alt="..." class="card-img-top">
                <div class="card-body">
                    <h5 th:text="${post.title}" class="card-title">...</h5>
                    <p th:text="${post.content}" class="card-text">...</p>
                    <a th:href="${post.url}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>

</html>